.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6rem;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.link-container {
  width: 65%;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 2px solid #696666;
}

.link-container a {
  color: #696666;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 600;
}

.link-container a:active {
  color: #077705;
}

.link-container a:hover {
  color: #077705;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart-icon {
  cursor: pointer;
  scale: 1.2;
  color: #696666;
  transition: transform 0.3s ease-in-out;
}

.cart-icon:hover {
  color: #077705;
  transform: scale(1.2);
}
